<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Travel planner</title>
    </head>
    <body>
        <header>This is a header</header>
        <main>
            <div class="form-container">
                <form>
                    <label for="city">Destination:</label>
                    <input type="text" id="city" placeholder="Enter city">
                    <label for="trip-date">Date:</label>
                    <input type="date" id="trip-date" required pattern="\d{4}-\d{2}-\d{2}">
                    <input type="submit" value="Search Trip" id="submit-form">
                </form>
                <div id="btn-container">
                    <button id="save-trip">Save Trip</button>
                    <button id="remove-trip">Remove Trip</button>
                </div>
            </div>
            <div class="trip-list"></div>
            <section class="trip-info">
                <img class="dest-img" alt="destination image">
                <div id="time-place">
                    <div class="info-container">
                        <label for="dest">Destination:</label>
                        <div class="dest">Berlin, Germany</div>
                    </div>
                    <div class="info-container">
                        <label for="countdown">Days till departure:</label>
                        <div class="countdown">18</div>
                    </div>
                </div>
                <section class="dest-weather">
                    <div id="desc">Broken Clouds</div>
                    <div id="temp">18</div>
                    <div id="wind-dir">NE</div>
                    <img id="icon" alt="weather icon">
                </section>
            </section>
        </main>
        <footer>This is a footer</footer>
    </body>
</html>