<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Travel planner</title>
    </head>
    <body>
        <div class="form-container">
            <form class="box">
                <label for="city">Enter destination</label>
                <input type="text" id="city" placeholder="Enter city">
                <label for="trip-date">Enter depature date</label>
                <input type="date" id="trip-date" required pattern="\d{4}-\d{2}-\d{2}">
                <input type="submit" value="Find" id="submit-form">
            </form>
        </div>
        <section class="trip-info box">
            <div class="destination"></div>
            <div class="countdown"></div>
            <section class="dest-weather box">
                <div id="desc"></div>
                <div id="temp"></div>
                <div id="wind-dir"></div>
            </section>
        </section>
    </body>
</html>