<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Travel planner</title>
    </head>
    <body>
        <div class="form-container">
            <form class="box">
                <label for="city">Enter destination</label>
                <input type="text" id="city" placeholder="Enter city">
                <label for="trip-date">Enter depature date</label>
                <input type="date" id="trip-date" required pattern="\d{4}-\d{2}-\d{2}">
                <input type="submit" value="Find" id="submit-form">
            </form>
        </div>
        <section class="trip-info box">
            <label for="dest">Destination</label>
            <div class="dest"></div>
            <label for="countdown">Days till departure:</label>
            <div class="countdown"></div>
            <section class="dest-weather box">
                <div class="info-container">
                    <label for="desc">Weather desciption:</label>
                    <div id="desc">Broken cloud</div>
                </div>
                <div class="info-container">
                    <label for="temp">Temperature:</label>
                    <div id="temp">24</div>
                </div>
                <div class="info-container">
                    <label for="wind-dirc">Wind direction:</label>
                    <div id="wind-dir">NE</div>
                </div>
            </section>
        </section>
    </body>
</html>