@import './global.scss';

.expired {
    color: grey;

    span {
        color: red;
    }
}

.trip-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    p {
        @extend button;
        padding: 5px;
    }
}