@import './base.scss';

.form-container {
    display: flex;
    flex-direction: column;
    background: #777;
    width: 100%;
    border-bottom: 2px solid #000;

    @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: 1fr repeat(2, auto) 1fr;
        padding: 20px 0;
    }

    #btn-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: inherit;
        margin-bottom: 10px;

        .inactive {
            border-color: #444;
            color: #444;
            pointer-events: none;
        }

        @media (min-width: 1200px) {
            flex-direction: column;
            width: auto;
            margin: 0 0 0 10px;
            grid-column: 3;
            justify-content: space-between;
        }
    }
}

form {
    display: grid;
    padding-top: 25px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "lb1 inptOne"
    "lb2 inptTwo"
    "sub sub";
    width: 100%;

    #submit-form {
        cursor: pointer;
        grid-area: sub;
    }

    #trip-date {
        grid-area: inptTwo;
    }

    #city {
        grid-area: inptOne;
    }

    input {
        margin: 0 10px 25px 0;
        background: none;
        font-family: inherit;
        font-weight: 700;
        text-align: center;
        border-bottom: 1px solid black;

        &:focus {
            outline-color: #000;
            outline-style: dotted;
        }

        &[type=submit] {
            @extend button;
            margin: 0 10px 15px 10px;

            @media (min-width: 1200px) {
                margin: 0;
            }
        }

        @media (min-width: 1200px) {
            font-size: 1em;
        }
    }

    label {
        text-align: left;
        margin: 0 10px;
        font-family: inherit;
        font-weight: 900;
        font-size: 1em;
    }

    @media (min-width: 1200px) {
        max-width: 600px;
        padding: 0;
        grid-column: 2;
    }
}