section {
    
    &.trip-info {
        display: flex;
        flex-direction: column;
        margin: 10px 0 25px;
        padding-top: 15px;
        background: rgba($color: #000, $alpha: 0.6);
        color: white;

        .dest-weather {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }

        .dest-img {
            align-self: center;
            width: 90%;
            border-radius: 0.3em;
        }

        #time-place {
            margin: 15px 0;
        }
    }

    .info-container {
        display: flex;
        flex-direction: row;
        margin: 0 15px;

        div:last-child {
            margin-left: 10px;
        }
    }
}