section {
    
    &.trip-info {
        display: flex;
        flex-direction: column;
        margin: 10px 0 25px;
        padding: 15px 0;
        background: rgba($color: #a805f3, $alpha: 0.9);
        color: #000;

        .dest-weather {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-template-areas: 
            "desc temp"
            "img wind";
            grid-gap: 1em;
            margin: 0 15px;
            align-self: center;

            #desc {
                grid-area: desc;
            }

            #temp {
                grid-area: temp;
                text-align: right;
            }

            #wind-dir {
                grid-area: wind;
                text-align: right;
                align-self: center;
            }

            #icon {
                align-self: flex-start;
                grid-area: img;
            }

            @media (min-width: 1200px) {
                grid-area: dw;
                width: 100%;
                margin: 0;
                font-size: 1.8em;
            }
        }

        .dest-img {
            align-self: center;
            max-width: 90%;
            border-radius: 0.3em;

            @media (min-width: 1200px) {
                max-width: 500px;
                grid-area: img;
                margin-left: 100px;
            }
        }

        #time-place {
            margin: 15px 0;
            text-align: center;
            font-weight: bold;

            label {
                text-transform: uppercase;

                &[for=dest] {
                    font-size: 1.3em;
                    text-decoration: underline;
                }
            }

            div {
                font-size: 1em;

                &:last-child {
                    margin-left: 10px;
                }
            }

            .dest {
                margin-bottom: 15px;
            }

            .info-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                &:last-child {
                    border-bottom: 1px solid #000;
                    margin: 0 10px;
                    padding-bottom: 10px;
                }
            }

            @media (min-width: 1200px) {
                grid-area: tp;
                display: grid;
                max-width: 800px;
                grid-template-columns: auto;
                grid-template-rows: repeat(2, auto);
                font-size: 2.2em;
            }
        }

        @media (min-width: 1200px) {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas: 
            "tp img"
            "dw img";
            justify-content: center;
        }
    }
}